<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">

      <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="/css/bootstrap.css" rel="stylesheet">
      <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
      <link href="/css/MoveSafe.css" rel="stylesheet">

  </head>

  <body>


    <div class="topnav card-block">
      <a padding="100px" id="navigationBarTitle" align="right">Welcome to MoveSafe!</a>
    </div>

    <div class="col-md-6 main-div mx-auto" >
        <div class="card centered" style="margin:5vh 0 0 0;">
            <img class="card-img-top centered" src="images/raccoons.jpg" style="width: 100%;">
        </div>
    </div>

    <div class="originalLogIn">
    <div class="LogIn">
        <br>
        <br>
        <div class="logIn">
            <div class="form-group col-md-6">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="example@moveSafe.com">
                <small id="emailHelp" class="form-text text-muted" style="font-size:15px; padding: 5px 5px 5px 5px;">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group col-md-6">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="enter password" style=" padding: 5px 5px 5px 5px;">
                <small id="emailHelp" class="form-text text-muted" style="font-size:15px; padding: 5px 5px 5px 5px;">New user? Sign up below!</small>
            </div>
        </div>
        <div class="centered" style="position:relative;left:-2vw">
            <a href='/signup'><button type="submit" 
            class="btn btn-primary text-center buttons" 
            style="border-color:#3AAFA9; background-color: #3AAFA9;
             margin:10px 0px 10px 20px; width: 55vw; max-height:40px; 
             max-width:160px; font-size: 2.5vh;">Sign Up</button></a>
            <a href='/index'><button type="submit" 
            class="btn btn-primary text-center buttons" style="
            border-color:#3AAFA9; 
            background-color: #3AAFA9; margin:10px 0px 10px 20px; 
            width: 85vw; max-height:40px; max-width:160px; 
            font-size: 2.5vh;">Login</button></a>
        </div>

      </div>
    </div>
  </body>
</html>